
/* globals.css */


.sidebar-option {
position: relative;
display: flex;
flex-direction: row;
align-items: center;
height: 2.75rem;
width:13rem;
outline: none;
cursor: pointer;
padding-right: 1.5rem;
color: white;
background-color: transparent;
border-left: 0.25rem solid transparent;
}
.sidebar-option:hover {
background-color: transparent;
color: #374151;
border-left-color: #7c3aed;
}

.main {
background-color: transparent;
width: calc(100% - 16rem);
margin-top: -10rem;
max-height: 100vh;
float: right;
font-family: 'Inter', sans-serif;
}

.save-button {
outline: none;
width: 4.375rem;
padding-top: 0.625rem;
padding-right: 0.75rem;
padding-bottom: 0.625rem;
padding-left: 0.75rem;
border-radius: 0.3125rem;
font-weight: 600;
font-size: 0.875rem;
height: 2.5rem;
cursor: pointer;
color: #ffffff;
background-color: black;
margin-bottom: 1.25rem;
border: none;
margin-top: 0.625rem;
display: flex;
align-items: center;
justify-content: center;
}

.delete-button {
outline: none;
width: 4.375rem;
padding-top: 0.625rem;
padding-right: 0.75rem;
padding-bottom: 0.625rem;
padding-left: 0.75rem;
border-radius: 0.3125rem;
font-weight: 600;
font-size: 0.875rem;
height: 2.5rem;
cursor: pointer;
color: #ffffff;
background-color: #e50913;
margin-bottom: 1.25rem;
border: none;
margin-top: 0.625rem;
display: flex;
align-items: center;
justify-content: center;
}

.current-section-option {
cursor: pointer;
padding-left: 1.25rem;
padding-right: 1.25rem;
}

.preferred_roles {
color: #788699;
border: 0.0625rem solid #d6dae0;
border-radius: 1.875rem;
margin-top: 0.125rem;
margin-right: 0.3125rem;
margin-bottom: 0.125rem;
margin-left: 0.3125rem;
padding-top: 0.4375rem;
padding-right: 1.125rem;
padding-bottom: 0.4375rem;
padding-left: 1.125rem;
line-height: 1.5625rem;
font-size: 0.875rem;
text-align: center;
font-weight: normal;
display: inline-flex;
cursor: pointer;
}

.MuiSvgIcon-root {
  width: 33px;
  height: 33px;
  margin-right: 0.5rem;
  color: #5a8a99 !important;
  cursor: pointer;
  padding: 5px;
  transition: all 0.3s ease-in;
}

.icons {
  width: 27px;
  height: 27px;
  margin-right: 0.5rem;
  color: #5a8a99 !important;
  cursor: pointer;
  padding: 5px;
  transition: all 0.3s ease-in;
}

.icons:hover {
  background-color: #ddd;
  border-radius: 50px;
}